.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 350px;
  border-radius: 10px;
  box-shadow: 2px 3px 4px 1px #d3d3d3;
  padding: 100px;
  margin: auto;
}

.buttonConfirm,
.buttonIncomplete,
.buttonModal {
  width: 100px;
  height: 40px;

  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #d3d3d3;
}

.buttonConfirm:hover {
  background-color: #dcdcdc;
  box-shadow: 1px 1px 1px 1px #bebebe;
}
.buttonModal:hover {
    background-color: #dcdcdc;
    box-shadow: 1px 1px 1px 1px #bebebe;
  }

.buttonIncomplete {
  box-shadow: none;
  color: #bebebe;
}

.modalContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  

  background: rgba(70, 70, 70, 0.7);


  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent{
    background-color: white;
    height: 250px;
    width: 500px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}